
body{
	background-color: lightgray;
	
}



#top_logo{
	
	height: 50px;
}



#home_main{
	background-color: black;
}

#header_image{
	width: 100%;
}




#login_panel{
	background-color: rgb(255, 220, 0);
}


#login_panel h3{
	font-size: 42px;
	font-family: Berlin Sans;
}





footer{
	position: fixed;
	
	bottom:0;
	left:0;
	right:0;
	
	height: 30px;
	
	text-align: center;
	background-color: black;
	color: white;
}

